@model RadiologyPatientsExams.Models.PatientListModel;
@{
    ViewData["Title"] = "Patient Management";
}

<head>
    <!-- other head elements -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <a class="btn btn-outline-warning mt-3 mb-3 d-flex justify-content-center align-content-center addbutton" asp-controller="Patient" asp-action="AddPatient">
        Add Patient
    </a>
</div>
<h2 class="text-center">Patient List</h2>
<p></p>


<form asp-controller="Patient" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="name" />
        Surname: <input type="text" name="surname"  />
        <input type="submit" value="Search" />
    </p>
</form>

@if (Model.PatientList != null && Model.PatientList.Count > 0)
{
    <table class="table table-light">
        <thead id="tableheads">
            <tr>
                <th><a asp-controller="Patient" asp-action="">Name</a></th>
                <th><a asp-controller="Patient" asp-action="">Surname</a></th>
                <th><a asp-controller="Patient" asp-action="">Age</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model.PatientList)
            {
                <tr>
                    <td>@patient.Name</td>
                    <td>@patient.Surname</td>
                    <td>@(DateTime.Now.Year-patient.BirthDate.Year)</td>
                    <td>
                        <a asp-controller="/Patient" asp-action="PatientDetail" asp-route-id="@patient.Id" class="viewButton btn btn-outline-secondary btn-block">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="empty-list">No patients available.</p>
}

