@model MVC.TVShows.Forser.Models.TVShow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TVShow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfEpisodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfEpisodes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeasons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeasons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeenWatched)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeenWatched)
        </dd>
        <dt class="col-sm-2">
            Genres
        </dt>
        <dd class="col-sm-10">
            @if (Model.Genres != null)
            {
                @foreach (var genre in Model.Genres)
                {
                    <p>@genre.Genre.ShowGenre</p>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
