@using Movies.Models
@model Movies.Models.Details

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-white">Details</h1>

<hr/>

<div class="w-80 ml-auto mr-auto text-white">
    <dl class="row">
        <dt class="col-sm-2">
            @*This space is here to make sure image is aligned to other details*@
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" alt="@Model.Title"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div class="row">
    <form method="post" asp-action="Details" asp-controller="MyMovies" class="col-3">
        <input type="hidden" asp-for="@Model.MovieId" />
        <select class="form-select" asp-for="Status" id="statusSelect" asp-items="Html.GetEnumSelectList<Status>()">
            <option value="">-- Select a Status --</option>
        </select>
        <button type="submit" class="btn btn-primary mt-2">Save</button>
    </form>
</div>
<div class="mt-3">
    <a class="btn btn-secondary" asp-controller="MyMovies" asp-action="Index">Back to List</a>
</div>