@model IEnumerable<Movies.Models.LikedMovie>

@{
    ViewData["Title"] = "My Movies";
}

<div class="m-3">
    @if (!Model.Any())
    {
        <p class="text-center text-white">There are currently no movies available</p>
    }
    else
    {
        <div class="row g-0 justify-content-center">
            @foreach (var movie in Model)
            {
                <div class="card-frame card col-sm-12 col-md-4 col-lg-2 m-2">
                    <a asp-action="Details" asp-route-movieId="@movie.MovieId" 
                       class="link-dark text-decoration-none">
                        <div class="card-body">
                            <img src="@movie.ImageUrl" alt="@movie.Title" width="100%" />
                            <p class="card-title text-truncate">@movie.Title</p>
                            <p>Rating: @movie.Rating</p>
                            <p>Genres: @movie.Genre</p>
                            <p>Release Year: @movie.Year</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>