@model RadiologyPatientsExams.Models.ExamListViewModel;
@{
    ViewData["Title"] = "Exam Management";
}

<head>
    <!-- other head elements -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }
        
</div>

<h2 class="text-center">List of Examinations</h2>

<form asp-controller="Exam" asp-action="Index" method="get">
    <p>

        Doctor: <select asp-for="ExamDoctor" asp-items="Model.Doctors">
            <option value="">All</option>
        </select>

        Modality: <select asp-for="ExamModality" asp-items="Model.Modalities">
            <option value="">All</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>

@if (Model.ExamList != null && Model.ExamList.Count > 0)
{
    <table class="table">
        <thead id="tableheads">
            <tr>
                <th><a asp-controller="Exam" asp-action="">Date</a></th>
                <th><a asp-controller="Exam" asp-action="">Patient Name</a></th>
                <th><a asp-controller="Exam" asp-action="">Patient Surname</a></th>
                <th><a asp-controller="Exam" asp-action="">Modality</a></th>
                <th><a asp-controller="Exam" asp-action="">Doctor</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in Model.ExamList)
            {
                <tr>
                    <td>@exam.Date</td>
                    <td>@exam.PatientName</td>
                    <td>@exam.PatientSurname</td>
                    <td>@exam.Modality</td>
                    <td>@exam.Doctor</td>
                    <td>
                        <a asp-controller="/Exam" asp-action="ExamDetail" asp-route-id="@exam.Id" class="viewButton btn btn-outline-secondary btn-block">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="empty-list">No examinations available.</p>
}

