@model kmakai.MVC.Movies.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Book Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-outline-primary">Back to List</a>
</div>