@model MoviesMVCCarDioLogic.Models.Serie

@{
    ViewData["Title"] = "Details";
}

<h1 class="title">Details</h1>

<div>
    <h4 class="title">Movie</h4>
    <hr class="title" />
    <dl style="color:white" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfEpisodes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfEpisodes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeasons)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeasons)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreamingPlatform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreamingPlatform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a class="btnR" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a class="btnR" asp-action="Index">Back to List</a>
</div>